<footer class="block block--dark footer">
  <div class="container grid footer__sections">
    <section class="collapsible footer__section">
      <header class="collapsible__header footer__header">
        <h2 class="collapsible__heading footer__heading">PRODUCTS</h2>
        <span class="icon-container icon-container--footer">
          <svg class="icon icon--white collapisble__chevron">
            <use xlink:href="images/sprite.svg#chevron"></use>
          </svg>
        </span>
      </header>
      <ul class="list footer__list collapsible__content">
        <li><a href="#">Hosting</a></li>
        <li><a href="#">Other</a></li>
        <li><a href="#">No Hosting</a></li>
        <li><a href="#">Steve</a></li>
        <li><a href="#">Nigel</a></li>
      </ul>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header footer__header">
        <h2 class="collapsible__heading footer__heading">PRODUCTS 2</h2>
        <span class="icon-container icon-container--footer">
          <svg class="icon icon--white collapisble__chevron">
            <use xlink:href="images/sprite.svg#chevron"></use>
          </svg>
        </span>
      </header>
      <ul class="list footer__list collapsible__content">
        <li><a href="#">Hosting</a></li>
        <li><a href="#">Other</a></li>
        <li><a href="#">No Hosting</a></li>
        <li><a href="#">Steve</a></li>
        <li><a href="#">Nigel</a></li>
      </ul>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header footer__header">
        <h2 class="collapsible__heading footer__heading">PRODUCTS 3</h2>
        <span class="icon-container icon-container--footer">
          <svg class="icon icon--white collapisble__chevron">
            <use xlink:href="images/sprite.svg#chevron"></use>
          </svg>
        </span>
      </header>
      <ul class="list footer__list collapsible__content">
        <li><a href="#">Hosting</a></li>
        <li><a href="#">Other</a></li>
        <li><a href="#">No Hosting</a></li>
        <li><a href="#">Steve</a></li>
        <li><a href="#">Nigel</a></li>
      </ul>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header footer__header">
        <h2 class="collapsible__heading footer__heading">PRODUCTS 4</h2>
        <span class="icon-container icon-container--footer">
          <svg class="icon icon--white collapisble__chevron">
            <use xlink:href="images/sprite.svg#chevron"></use>
          </svg>
        </span>
      </header>
      <ul class="list footer__list collapsible__content">
        <li><a href="#">Hosting</a></li>
        <li><a href="#">Other</a></li>
        <li><a href="#">No Hosting</a></li>
        <li><a href="#">Steve</a></li>
        <li><a href="#">Nigel</a></li>
      </ul>
    </section>
    <section class="footer__logo">
      <img src="images/logo.svg" alt="Logo" />
      <p class="footer__copyright">Copyright © 2020 mosh</p>
    </section>
  </div>
</footer>
