<section class="containter block">
  <div class="block__header">
    <h2 class="block__heading">What our Customers are Saying</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit placeat
      ab possimus?
    </p>
  </div>

  <div class="card testimonial">
    <div class="grid grid--1x2">
      <div class="testimonial__image">
        <img src="images/testimonial.jpg" alt="Happy Smiling Customer" />
        <span class="icon-container icon-containter--accent">
          <svg class="icon--small icon--white">
            <use xlink:href="images/sprite.svg#quotes"></use>
          </svg>
        </span>
      </div>
      <blockquote class="quote">
        <p class="quote__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
          dolorum reprehenderit ratione. Non incidunt officiis dolorem iusto
          quod laudantium sed?
        </p>
        <footer>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary quote__line">
                <use xlink:href="images/sprite.svg#line"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title quote__author">Steve Harington</h3>
              <p class="quote__company">Steve co.</p>
            </div>
          </div>
        </footer>
      </blockquote>
    </div>
  </div>
</section>
